/*------------------------------------------------------------------
    NAVIGATION
-------------------------------------------------------------------*/

.affix-top {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    top: -100%;
}

.affix {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 40px;
    background-color: #1f1f1f !important;
    -webkit-transition: visibility 0.95s ease-in-out, opacity 0.95s ease-in-out, bottom 0.95s ease-in-out, top 0.95s ease-in-out, left 0.95s ease-in-out, right 0.95s ease-in-out;
    -moz-transition: visibility 0.95s ease-in-out, opacity 0.95s ease-in-out, bottom 0.95s ease-in-out, top 0.95s ease-in-out, left 0.95s ease-in-out, right 0.95s ease-in-out;
    -o-transition: visibility 0.95s ease-in-out, opacity 0.95s ease-in-out, bottom 0.95s ease-in-out, top 0.95s ease-in-out, left 0.95s ease-in-out, right 0.95s ease-in-out;
    transition: visibility 0.95s ease-in-out, opacity 0.95s ease-in-out, top 0.95s ease-in-out, bottom 0.95s ease-in-out, left 0.95s ease-in-out, right 0.95s ease-in-out;
}

.megamenu {
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255);
    position: sticky;
    top: 0;
    padding: 20px 0!important;
}

#navbar{
    text-align: center;
    width: 100%;
}

#navbar img{
    width: 5%;
}


/*------------------------------------------------------------------
    VIDEO
-------------------------------------------------------------------*/

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:1;
}

h1{
    font-family: 'Bird House Script' !important;
    font-size: 15em;
}

.layer{
    color: #fff;
}


#section0 .title{
    padding: 5% 38%;
    line-height: 1.3em;
    font-size: 1.6em;
}

.layer .button p{
    padding: 20px 0;
}

.button{
    border: solid;
    border-color: #fff;
    width: 30%;
    display: inline-block;
}

img.arrow-scroll{
    position: absolute;
    bottom: 10%;
    z-index: 100;
    animation-duration: 25s;
    animation-name: arrow-bunce;
    width: 20px;
}
img.arrow-scroll:hover{
    width: 25px;
    transition: 0.3s;
}
@keyframes arrow-bunce{
  from {
    bottom: 10%;
    transition: 2s;
  }

  to {
    bottom: 8%;
    transition: 2s;
  }
}

#section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 20%;

    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}

.section{
    text-align:center;
    overflow: hidden;
}

#section1 .layer1{
    color: #000;
    max-width: 1000px;
    position: relative;
    margin: 0 auto!important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#section1 .fp-tableCell{
    vertical-align: middle !important;
    height: 650px !important;
}

#section1{
    height: 650px !important;
}

.text{
    text-align: left;
    padding: 0 5%;
}
.video{
    max-width: 600px;
}

#section2{
    background-color: #EDEDED;
    text-align: center;
    height: 450px!important;
}
#section2 .fp-tableCell{
    vertical-align: middle;
    height: 450px!important;
}
#section2 .layer1{
    max-width: 1000px;
    position: relative;
    margin: 0 auto!important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#section2 .layer1 .image-bloc img{
    max-width: 100%;
}
#section2 .layer1 .image-bloc{
    max-width: 400px;
}
#section2 .text{
    text-align: left;
    width: 100%;
}

#section3 .layer1{
    margin: 30px 0;
}
/*------------------------------------------------------------------
    BACKGROUND VIDEO
-------------------------------------------------------------------*/

#home{
    position: relative;
    display: block;
    max-height: 500px;
}


#set-height {
    display: block;
    margin: 5% 0;
}

#v0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 14px;

}
a:link, a:visited{
    text-decoration: none;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

h2{
font-size: 2em;
}

h3{
    font-family: 'Bird House Script' !important;
    font-size: 6em;
}


@font-face {
    font-family: "Bird House Script";
    src: url("../assets/font/bird_house_script-webfont.woff2") format("woff2"),
    url("../assets/font/bird_house_script-webfont.woff") format("woff");
}

/*------------------------------------------------------------------
    SECTION 3
-------------------------------------------------------------------*/

.block{
    width: 100%;
    padding: 0 2%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto!important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}


.bloc-text-right{
    text-align: right;
    width: 100%;
    padding: 10% 5%;
}

.layer3 .img{
    width: 100%;
}

.block .img img{
    width: 40%;
}

.bloc-text-left{
    text-align: left;
    width: 100%;
    padding: 10% 5%;
}

.layer3{
    position: relative;
    top: 5%;
}

.layer3 .gras{
    font-weight: bold;
    margin-bottom: 15px !important;
}


/*------------------------------------------------------------------
    SECTION 4
-------------------------------------------------------------------*/

#section4{
    background-color: #EDEDED;
    text-align: center;
    height: 450px!important;
}

#section4 .fp-tableCell{
    height: 450px !important;
}

#section4 .title{
    position: relative;
    top: 5%;
}

#section4 .gras{
    font-weight: bold;
    margin: 15px 0 !important;
}

#section4 p{
    padding: 0 15%;
}

#section4 .bloc-text-left{
text-align: center;
}

#section4 .bloc-text-right{
    text-align: center;
}

#section4 .block img{
    width: 20%;
}

#section4 .text{
    text-align: center;
}

/*------------------------------------------------------------------
    SECTION 5
-------------------------------------------------------------------*/

#section5 {
    height: 370px !important;
}

#section5 .fp-tableCell {
    height: 370px !important;
}

.layer5 .bloc{
    width: 100%;
    padding: 5% 2%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto!important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.social{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.social img{
    width: 60px;
}

.layer5 .text{
color: #fff;
    text-align: center;
}

.footer{
    background-color: black;
    vertical-align: bottom;
}

/*------------------------------------------------------------------
    RESPONSIVE
-------------------------------------------------------------------*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .hidden-mob {
        display: none;
    }
    #section2 .layer1{
        grid-template-columns: 1fr;
        grid-row-gap: 2.5em;
    }
    #section2 .text{
        grid-row: 1;
        text-align: center;
    }
    #section3 .text{
        text-align: center;
    }

}

@media screen and (max-width: 900px) {
    h1{
        font-size: 10em;
    }
    #section0 .title{
        padding: 5% 25%;
        font-size: 1em;
    }
}

@media screen and (max-width: 425px) {
    .button{
        width: 70%;
    }
    h1{
        font-size: 60px;
    }
    .layer p{
        padding: 15% 10%;
        line-height: 1.3em;

    }
    #navbar img{
        width: 10%;
    }
    #section1 .fp-tableCell{
        vertical-align: top !important;
        display: block;
    }

    #section1 .layer1{
        display: block;
    }

    .text{
        text-align: center;
        width: 100%;
        margin: 10% 0 !important;
    }
    .video{
        width: 100%;
    }

    .hidden-mob {
        display: none;
    }
}